body {
  font-size: 12pt;
}
.app {
  min-width: 400px;
}
.venue-list-address,
.venue-listing {
  list-style: none;

}

.header-container {
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
}
.footer-container {
  text-align: center;
  width: 100%;
}
.header-container,
.footer-container {
  background-color: #3e4444;
  color: #fff;
}
.venue-name {
  font-size: 14px;
  font-weight: 700;
}
.search-bar {
  grid-area: header;
  // To align input field to the center
  text-align: center;
  width: 100%;
  padding-top: 5px;
}
.search-field {
  width: 92%;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("/assets/search-icon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
#venuelist {
  display: block;
  .venue-list-item {
    padding: 4px !important;

  }
}
.sidebar-wrapper {
  grid-area: sidebar;
  height: 100vh;
  box-shadow: -2px 0px 3px 0px #aaaaaa;
  overflow: scroll;
}

.footer-container {
  grid-area: footer;
  padding: 1px;
}

.map {
  position: relative;
  height: 100vh;
  grid-area: main;
}
.main-container {
  display: grid;
  width: 100%;
  grid-template-columns: 84vw 1fr;
  grid-gap: 0.2em;
  grid-template-areas:
    "main main main sidebar"
    "footer footer footer footer";
  .venue-list-address,
  .venue-listing {
    padding: 2px 8px 0 12px;
  }
}
@media screen and (max-width: 1224px) {
  .main-container {
    display: grid;
    width: 100%;
    grid-template-columns: 74vw 1fr;
    grid-gap: 0.2em;
    grid-template-areas:
      "main main main sidebar"
      "footer footer footer footer";
  }
  .venue-list-address,
  .venue-listing {
    padding: 0;
  }
}
@media screen and (max-width: 960px) {
  .main-container {
    display: grid;
    width: 100%;
    grid-template-columns: 65vw 1fr;
    grid-gap: 0.2em;
    grid-template-areas:
      "main main main sidebar"
      "footer footer footer footer";
  }
  .venue-list-address,
  .venue-listing {
    padding: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 620px) {
  .main-container {
    display: grid;
    width: 100%;
    grid-template-columns: 55vw 1fr;
    grid-gap: 0.2em;
    grid-template-areas:
      "main main main sidebar"
      "footer footer footer footer";
  }
  .venue-list-address,
  .venue-listing {
    font-size: 0.9rem;
    padding: 0;
  }
  .header-item {
    font-size: 1.35rem;
  }
  .footer-container {
    font-size: 0.8rem;
  }
}
.error-message {
  font-weight: 600;
  padding: 2.5rem;
}

.skipnav {
  background: transparent;
  color: #212121;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
/*Style button*/
.venue-address-street-view{
  text-align:center;
  width: 100%;
}