body {
  font-size: 12pt;
}
.venue-address-container, .gm-style-iw{
  // padding: .5rem .75rem;
  color: #212529;
  
}
.venue-list-address {
  list-style: none;

}
.venue-name{
  font-size: 14px;
  font-weight: 700;
}